<app-nav-bar></app-nav-bar>

<div class="container">
    <main role="main">

        <h1><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</h1>

        <div class="container">
            <div class="row">

                <div class="jumbotron">
                    <p class="lead">Welcome to the settings page!</p>
                    <hr class="m-y-md">
                    <p>Sadly there's nothing to show here. 😞</p>
                </div>
                
            </div>
        </div>

    </main>
</div>
