<div id="containForm">
    <!--<div id="loginForm">
        <h3>Connexion</h3>
        <hr>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm"> -->
            <!-- TODO: Remove this when we're done -->
            <!--<div id={{diagnostic_state}} class="center">
                {{diagnostic}}
            </div>
            <div class="form-group">
                <label for="email">Employee</label>
                <input type="email" class="form-control" id="email"
                    [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"
                    [(ngModel)]="model.password" name="password" placeholder="Password" required>
            </div>

            <div class="center">
                <button type="submit" class="btn btn-primary" (click)="displayDiagnostic()">Connect</button>
                <button type="reset" class="btn btn-warning" (click)="newUser(); userForm.reset(); hideDiagnostic()">Reset</button>
            </div>
        </form>
    </div>-->
    <div id="loginForm">
        <h3>Connexion</h3>
        <hr>
        <!-- <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)" #userForm="ngForm"> -->
        <form (ngSubmit)="submitForm(complexForm.value)" #userForm="ngForm">
            <!-- TODO: Remove this when we're done -->
            <div id={{diagnostic_state}} class="center">
                {{diagnostic}}
            </div>
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
                <label>Email address:</label>
                <!--<input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Enter email" required> -->
                <input class="form-control" type="email" id="email" name="email" [(ngModel)]="model.email" placeholder="Enter email" [formControl]="complexForm.controls['email']" required>

                <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger">You must enter your email address.</div>
                <div *ngIf="!complexForm.controls['email'].hasError('required') && complexForm.controls['email'].hasError('email') && complexForm.controls['email'].touched" class="alert alert-danger">You must enter a valid email address.</div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
                <label>Password:</label>
                <!--<input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" placeholder="Enter password" required>-->
                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="model.password" placeholder="Enter password" [formControl]="complexForm.controls['password']" required>

                <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">You must enter you password.</div>
                <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger">Your password must be at least 5 characters long.</div>
                <div *ngIf="complexForm.controls['password'].hasError('maxlength') && complexForm.controls['password'].touched" class="alert alert-danger">Your password cannot exceed 10 characters.</div>
            </div>
            <div class="form-group center">
                <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid" (click)="displayDiagnostic()">Connect</button>
                <!-- TODO: Remove this when we're done -->
                <button type="reset" class="btn btn-warning" (click)="newUser(); userForm.reset(); hideDiagnostic()">Reset</button>
            </div>
        </form>
    </div>
</div>
