#containForm {
    position             : absolute;
        left             : 0;
        top              : 25%;
    width                : 100%;
}
#loginForm {
    background-color     : #F9ECCF;
    background-color     : rgba(252, 239, 207, 0.9);
    margin               : 0 auto;
    padding              : 20px;
    border-radius        : 7px;
    width                : 25vw;
}
h3 {
    text-align           : center;
    margin-top           : 0;
    margin-bottom        : 0;
}
hr {
    border               : 0;
    border-top           : 1px solid #ccc
}
form .center {
    text-align           : center;
}

#hidden {
    display              : none;
}

#visible {
    display              : block;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 767px) {

    #loginForm {
        width                : 90%;
    }
}
