<app-nav-bar></app-nav-bar>

<div class="container">
    <main role="main">

    <div class="container">
        <div class="row">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">FirstName</th>
                        <th class="text-center">Surname</th>
                        <th class="text-center">Phone number</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <!--<tbody>-->
                    <!--<tr *ngFor="let post of _postsArray">-->
                        <!--<td class="text-center" style="width: 15px;">{{post.Email}}</td>-->
                        <!--<td class="text-center" style="width: 15px;">{{post.FirstName}}</td>-->
                        <!--<td class="text-center" style="width: 200px;">{{post.Surname}}</td>-->
                        <!--<td class="text-center">{{post.Phone}}</td>-->
                        <!--<td class="text-center"><a href="#">Edit</a></td>-->
                        <!--<td class="text-center"><a href="#">Delete</a></td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            </table>
        </div>
    </div>

    </main>
</div>
