<app-nav-bar></app-nav-bar>

<div class="container">
    <main role="main">

        <h1>
            <i class="fa fa-phone fa-fw" aria-hidden="true"></i> Secretaries
        </h1>

        <div class="container">
            <div class="row">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="text-center">E-mail</th>
                            <th class="text-center">FirstName</th>
                            <th class="text-center">Lastname</th>
                            <th class="text-center">Phone number</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of secretaries">
                            <td class="text-center">{{post.email}}</td>
                            <td class="text-center">{{post.firstname}}</td>
                            <td class="text-center">{{post.lastname}}</td>
                            <td class="text-center">{{post.phone}}</td>
                            <td class="text-center">
                                <a href="#">Edit</a>
                            </td>
                            <td class="text-center">
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</div>