<div id="containForm">
    <div id="loginForm">
        <h3><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Connexion</h3>
        <hr>
        <form #userForm="ngForm">
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
                <label>Email address:</label>
                <input class="form-control" type="email" id="email" name="email" [(ngModel)]="model.email" placeholder="Enter email" [formControl]="complexForm.controls['email']" required>

                <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>Enter your email address.
                </div>
                <div *ngIf="!complexForm.controls['email'].hasError('required') && complexForm.controls['email'].hasError('email') && complexForm.controls['email'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>Enter a valid email address.
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
                <label>Password:</label>
                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="model.password" placeholder="Enter password" [formControl]="complexForm.controls['password']" required>

                <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>Enter you password.
                </div>
                <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info:</span>The password must be at least 5 characters long.
                </div>
                <div *ngIf="complexForm.controls['password'].hasError('maxlength') && complexForm.controls['password'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info:</span>The password cannot exceed 10 characters.
                </div>
            </div>
            <div class="form-group center">
                <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid" (click)="displayDiagnostic()">Connect</button>
            </div>
        </form>
    </div>
</div>
